*{
	color:white;
}
body{
	background: url("floor.jpg");
	background-repeat: no-repeat;
}
.card1
{
	background-color:red;
	position: absolute;
	top:230px;
	left:390px;
	width:370px;
	height:180px;
	padding:80px;
	border-radius:20px;	
	
}
.button{
	background-color: #4084F2;
	border-radius:5px;;
	width:100px;
	color:white;
	position:fixed;
	top:390;
	left:590;
	text-align:center;
}
.button:hover{
	color:white;
	border-radius:5px;
	background-color:green;
	opacity:0.5;
	position:fixed;
	top:390;
	left:590;
}
.l
{
	background-color:green;
	opacity:0.3;
}