<!-- Button,a
{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top:  0px !important;
  padding-bottom:   0px !important;
} -->
p
{
    padding-top:  10px
}
.dropdown
{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
